/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// app wide vars
:root {
    --primary-color: #3f51b5;
}

body {
    padding:0;
    margin:0;
}

div.body-content {
    margin:1em;
}