div.user-list {
    border-top: 1px solid #ddd;

    div.user-item {
        border-bottom:1px solid #ddd;
        padding: 1em .5em;
        cursor: pointer;

        &:hover {
            background-color: #eee;
        }
    }
}