div.top-row {
    display:flex;
    justify-content: space-between;
    margin-bottom: 2em;

    h2 {
        margin-bottom:0;
    }
}

div.add-form {
    border: 1px solid var(--primary-color);
    border-radius:10px;
    padding:30px 25px;

    div.error-message {
        color:red;
        margin-bottom:2em;
    }

    form {
        mat-form-field {
            display:block;
        }

        button.submit-button {
            margin-top:1em;
        }

        div.submit-progress-bar {
            margin-top:1em;
        }
    }
}