<div class="mat-typography" *ngIf="user">
    <h2 class="user-name">{{user.username}}</h2>

    <div class="user-data">
        <div class="last-login">Last Login: 
            <ng-container *ngIf="user.lastLoginDate">{{user.lastLoginDate | amDateFormat: 'YYYY-MM-DD HH:mm'}}</ng-container>
            <ng-container *ngIf="!user.lastLoginDate">Never</ng-container>
        </div>
        
        <div class="add-character">
            <a [routerLink]="addPlayerLink" mat-flat-button color="primary">
                <mat-icon>add</mat-icon>
                Add Character
            </a>
        </div>

        <div class="no-characters" *ngIf="!user.playerData || user.playerData.length === 0">No Characters</div>

        <div class="characters">
            <mat-card *ngFor="let char of user.playerData; index as i">
                <mat-card-title>
                    <span>{{char.name}}</span>
                    <span class="gender" [ngClass]="{'female': user.gender === 'F', 'male': user.gender === 'M'}">{{char.gender}}</span>
                </mat-card-title>
                <mat-card-subtitle>{{char.currentClass}}</mat-card-subtitle>
                <mat-card-content>
                    <div class="class-content">
                        <span class="current-level">{{char.level}}</span>

                        <div class="class-levels" *ngIf="char.clvl">
                            <div class="class-row" [ngClass]="{'current-class': char.currentClass=='jester'}">
                                <span class="class-level">
                                    {{char.clvl.jester}}
                                </span>
                                <span class="class-name">
                                    Jester
                                </span>
                            </div>
                            <div class="class-row" [ngClass]="{'current-class': char.currentClass=='warrior'}">
                                <span class="class-level">
                                    {{char.clvl.warrior}}
                                </span>
                                <span class="class-name">
                                    Warrior
                                </span>
                            </div>
                            <div class="class-row" [ngClass]="{'current-class': char.currentClass=='priest'}">
                                <span class="class-level">
                                    {{char.clvl.priest}}
                                </span>
                                <span class="class-name">
                                    Priest
                                </span>
                            </div>
                            <div class="class-row" [ngClass]="{'current-class': char.currentClass=='thief'}">
                                <span class="class-level">
                                    {{char.clvl.thief}}
                                </span>
                                <span class="class-name">
                                    Thief
                                </span>
                            </div>
                            <div class="class-row" [ngClass]="{'current-class': char.currentClass=='mage'}">
                                <span class="class-level">
                                    {{char.clvl.mage}}
                                </span>
                                <span class="class-name">
                                    Mage
                                </span>
                            </div>
                            <div class="class-row" [ngClass]="{'current-class': char.currentClass=='budoka'}">
                                <span class="class-level">
                                    {{char.clvl.budoka}}
                                </span>
                                <span class="class-name">
                                    Budoka
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="delete-character-row">
                        <button (click)="deleteCharacter(char, i)" mat-flat-button color="warn">
                            <mat-icon>remove</mat-icon>
                            Delete
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>