h2.user-name {
    margin-bottom:.25em;
    text-decoration: underline;
}

div.user-data {
    div.last-login {
        margin-left:2em;
        font-style: italic;
        color: #AAA;
    }

    div.no-characters, div.characters {
        margin-top:2em;
    }

    div.characters {
        
        mat-card {
            margin:1em;
        }

        @media (min-width:1024px) {
            mat-card {
                display:inline-block;
                min-width:32%;
                max-width:32%;
            }
        }
    }
}