<div class="mat-typography">
    <div class="top-row">
        <h2>Add User</h2>
        <a routerLink="/" mat-flat-button color="primary">
            <mat-icon>undo</mat-icon>
            Cancel
        </a>
    </div>

    <div class="add-form">
        <div class="error-message" *ngIf="hasError">
            Error saving user.
        </div>
    
        <form #userForm="ngForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
                <input 
                    matInput 
                    [(ngModel)]="user.username"
                    placeholder="Username" 
                    id="username" 
                    name="username"
                    #username="ngModel"
                    required />
            </mat-form-field>
            
            <mat-form-field class="full-width">
                <input 
                    matInput 
                    [(ngModel)]="user.password"
                    placeholder="Password" 
                    id="password" 
                    name="password"
                    type="password" 
                    #password="ngModel"
                    required />
            </mat-form-field>

            <button 
                class="submit-button"
                type="submit" 
                mat-flat-button 
                color="primary"
                [disabled]="!userForm.form.valid || isSubmitting">
                    Submit
            </button>

            <div class="submit-progress-bar">
                <ng-container *ngIf="isSubmitting">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </ng-container>
            </div>
        </form>

    </div>
</div>