doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='header')
      span #{title}
      div(class='links')
        a(href='/') Players

    block content
