<div class="mat-typography">
    <div class="top-row">
        <h2>Maps</h2>
        <button mat-flat-button color="primary" (click)="onAddMapsClick()">
            <mat-icon>add</mat-icon>
            Add Maps
        </button>
    </div>
    

    <div class="map-list" *ngIf="maps && maps.length > 0">
        <div class="map-item" *ngFor="let map of maps">
            <span>{{map.name}}</span>

            <button mat-flat-button color="warn" (click)="deleteMap(map)">
                <mat-icon>remove</mat-icon>
                Delete
            </button>
        </div>

        
    </div>
</div>