div.top-row {
    display:flex;
    justify-content: space-between;
    margin-bottom: 2em;

    h2 {
        margin-bottom:0;
    }
}

div.map-list {
    border-top: 1px solid #ddd;

    div.map-item {
        display:flex;
        justify-content: space-between;
        border-bottom:1px solid #ddd;
        padding: 1em .5em;
        text-decoration: none;
        color: black;
        align-items: center;
    }
}